/*
 * @file
 * Styles for the Layout dynamic component.
 */

.layout-dynamic {
  --layout-dynamic-padding-block: var(--spacing-component);
  --layout-dynamic-padding-inline: 0px;
  --layout-dynamic-border-radius: 0;

  container-type: inline-size;
  border-radius: var(--layout-dynamic-border-radius);
  color: var(--theme-text-color-medium);

  /* Default padding if not nested within itself. */
  &:where(:not(.layout-dynamic *)) {
    padding-block: var(--layout-dynamic-padding-block);
    padding-inline: var(--layout-dynamic-padding-inline);
  }

  &:where(:has(.background-image)) {
    position: relative;
    overflow: clip;

    .layout-dynamic__cell,
    .layout-dynamic__header {
      > *:not(.background-image) {
        position: relative;
        z-index: 1;
      }
    }
  }

  /*
   * If border radius is present, it should be removed if two
   * dynamic layouts are stacked in a row.
   */
  &:where(.theme--white.margin-bottom--0 + .theme--white.margin-top--0),
  &:where(.theme--light.margin-bottom--0 + .theme--light.margin-top--0),
  &:where(.theme--black.margin-bottom--0 + .theme--black.margin-top--0),
  &:where(.theme--dark.margin-bottom--0 + .theme--dark.margin-top--0),
  &:where(.theme--primary + .theme--primary) {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
  }

  &:where(.theme--white.margin-bottom--0:has(+ .theme--white.margin-top--0)),
  &:where(.theme--light.margin-bottom--0:has(+ .theme--light.margin-top--0)),
  &:where(.theme--black.margin-bottom--0:has(+ .theme--black.margin-top--0)),
  &:where(.theme--dark.margin-bottom--0:has(+ .theme--dark.margin-top--0)),
  &:where(.theme--primary.margin-bottom--0:has(+ .theme--primary.margin-top--0)) {
    border-end-start-radius: 0;
    border-end-end-radius: 0;
  }

  /**
   * .block-system-main-block has a default margin bottom which is necessary for
   * nodes and random pages like user/login. But we don't want a strip of white
   * empty space to appear (which is very apparent if the layout-dynamic has a
   * theme). So we negate it with a negative bottom margin.
   *
   * Wrap in :where() to remove specificity, so utility classes can override.
   */
  :where(.block-system-main-block > &:last-child) {
    margin-bottom: calc(-1 * var(--spacing-component));
  }

  &[class*="theme"] {
    background: var(--theme-surface);

    &.container {
      --layout-dynamic-padding-inline: var(--spacing-xs);

      @container (width > 600px) {
        --layout-dynamic-padding-inline: var(--spacing-m);
      }
    }
  }

  &:has(.has-background-image) {
    padding: 0;
  }
}

.layout-dynamic__container {
  .layout-dynamic--section-edge-to-edge.layout-dynamic--content-edge-to-edge & {
    padding-inline: var(--sp2);

    @container (width > 700px) {
      padding-inline: var(--sp4);
    }
  }
}

.layout-dynamic__header {
  margin-bottom: var(--spacing-component-internal);

  /* If within the Canvas editor preview (but NOT in edit mode), hide.
  @todo - do the proper way once https: //www.drupal.org/i/3492358 is resolved. */
  &:not([data-canvas-slot-id]):has(.canvas--slot-empty-placeholder:only-child) {
    display: none;
  }

  /* If it doesn't have any elements underneath, hide it. */
  &:not(:has(*)) {
    display: none;
  }
}

.layout-dynamic__layout {
  display: grid;
  grid-template-columns: minmax(0, auto);
  gap: 20px;

  @container (width <= 800px) {
    &.layout-dynamic__layout--columns-2 {
      /* At narrow widths, ensure that the widest cell appears first. */
      &:is(.layout-dynamic__layout--25-75, .layout-dynamic__layout--33-67) {
        .layout-dynamic__cell:nth-child(2) {
          order: -1;
        }
      }
    }
  }

  @container (width > 800px) {
    gap: 40px 20px;

    &.layout-dynamic__layout--columns-2 {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

      &.layout-dynamic__layout--25-75 {
        grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
      }

      &.layout-dynamic__layout--33-67 {
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
      }

      &.layout-dynamic__layout--75-25 {
        grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
      }

      &.layout-dynamic__layout--67-33 {
        grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
      }
    }

    &.layout-dynamic__layout--columns-3 {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

      &.layout-dynamic__layout--50-25-25 {
        grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr);
      }

      &.layout-dynamic__layout--25-50-25 {
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
      }

      &.layout-dynamic__layout--25-25-50 {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
      }
    }

    &.layout-dynamic__layout--columns-4 {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

      @container (width > 1000px) {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      }
    }
  }
}

.layout-dynamic__cell {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  grid-column: auto;
}

.layout-dynamic__cell--align-x-start {
  align-items: start;
}

.layout-dynamic__cell--align-x-center {
  align-items: center;
}

.layout-dynamic__cell--align-x-end {
  align-items: end;
}

.layout-dynamic__cell--align-y-top {
  justify-content: start;
}

.layout-dynamic__cell--align-y-center {
  justify-content: center;
}

.layout-dynamic__cell--align-y-bottom {
  justify-content: end;
}
