/*
 * @file
 * Styles for menu footer.
 */

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: var(--sp1-5);
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu--level-1 {
  line-height: var(--spacing-xxs);

  @container (width > 700px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--spacing-s);

    &:has(> .footer-menu__item--has-children) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      gap: 40px;
    }
  }
}

.footer-menu--level-3 {
  padding-inline-start: 12px;
  border-inline-start: solid 1px var(--footer-border-color);
}

.footer-menu__item {
  margin: 0;
  font-size: var(--body-m-size);
  line-height: 1.4;
  letter-spacing: var(--body-m-letter-spacing);
}

.footer-menu__item--level-1 {
  margin-bottom: var(--spacing-s);
  text-box: trim-start cap alphabetic;
}

.footer-menu__link[class] {
  display: block;
}

.footer-menu__link--level-1[class] {
  margin-bottom: var(--sp2);
  font-weight: 600;
}

.footer-menu__link--level-3[class] {
  margin-bottom: var(--spacing-xxs);
}

.footer-menu__heading {
  margin: var(--spacing-m) 0 var(--spacing-s);
  color: inherit;

  @media (width > 700px) {
    margin-top: 0;
  }
}

.footer-menu__link {
  text-decoration: none;
}
