/**
 * @file
 * Button XS variant.
 */

.button--xs {
  --button-font-size: 12px;
  --button-font-weight: 400;
  --button-height: 25px;
  --button-padding-block: 4px;
  --button-padding-inline: 12px;
  --theme-button-background-color-icon: transparent;

  &:has(.button__prefix) {
    padding-inline-start: 6px;
  }

  &:has(.button__suffix) {
    padding-inline-end: 6px;
  }
}
